<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComposableArchitecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Counter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FavoritePrimes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PrimeFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PrimeModal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Primes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C33097D232CE0EF00228FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3309A0232CE10000228FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3309C2232CE11400228FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3309E4232CE12600228FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9DAB71232B05D80020C4BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCC5DAF23323ED900BF685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
